/*Css fo ratings*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.index-bg{
  background:black;
}
body {
  font-family: sans-serif;
}
.navbar-main{
  position: fixed;
  height: 70px;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
a {
text-decoration: none;
color: white;
font-family:'Spectral',serif;
font-size: 25px;
}
a:visited {
  color:#EEE8AA;
}
a:hover {
  color: grey;
}
p {
  text-align: center;
}
.left {
  float: left;
  clear: left;
}
.right {
  float: right;
  clear: right;
  text-align: right;
  margin-right: 50px;
}
li {
    list-style: none;
    display: inline; 
}
li a {
padding: 5px;
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.social-button{
  width: 22px;
  display: inline-block;
}


/* Thumbnail 3d flip */
.home-thumbnail-wrap {
display: inline-block;
vertical-align: middle;
position: relative;
padding: 0;
margin: 0;
width: 100vw;
}
.thumbnail-wrap {
  width: 100vw;
  height: auto;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
img{
  width: 100%;
  border-radius: 50%
}
.thumbnail { 
  width: calc(50% - 100px);
  position: relative;
  float: left;
  margin: 50px;
  margin-bottom: 60px;
  perspective: 800px;
  border-style: none;
  border-radius: 0px;
}
#card:hover {
    transform: rotateX(180deg);
}
#card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
#card figure {
  margin: 0;
  display: block;
  backface-visibility: hidden;
}
#card .back {
    transform: rotateX(180deg);
    position: absolute;
    top: 0; 
    left: 0;
}
#card.flipped {
    transform: rotateX(180deg);
}


/* pub post */
.pub-post-bg{
  background: black;
  color: white;
  text-align: center;
}
.quote{
  font-family: 'Spectral',serif;
  font-size: 40px;
  color: white;
  text-align: center;
}
.bigger{
  font-size: 40px;
}
.subtitle{
  font-family: helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.post {
  font-size: 20px;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.4;
  letter-spacing: 1px;
}
.caption {
  font-family: helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
}
.pub-post-section {
position: relative;
padding: 0px;
width: 100vw;
}
.pub-post-title{
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding: 20px;

}
.drunk-img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.drunk-img:hover {
    width: 100%;
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
img {
width: 100%;
display: block;
}


/*CSS for star ratings*/

#ratingdiv{overflow:hidden}
#ratingdiv .undone, #ratingdiv .fade{
background: url("star.gif") -30px 0 no-repeat;
width: 28px;
display: block;
height: 30px;
float: left;
margin-right: 4px;
text-indent: -99999px
}
#ratingdiv .done{
background: url("star.gif") no-repeat;
width: 28px;
display: block;
height: 30px;
float: left;
margin-right: 4px;
text-indent: -99999px
}
#ratingdiv .undone:hover{background-position:0}

/*CSS for the carousel*/ 
.bx-wrapper img {
    margin: 0 auto;
}
.container{
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}


/*CSS for the cocktail recipies*/

.img-circle {
  border-radius: 50%;
}

.cocktail {
   font-size: 20px;
  text-align: left;
  margin: 0 auto;
  line-height: 1.4;
  letter-spacing: 1px;
   font-family: helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  z-index: 8;
}

.thumbnail2 { 
  width: calc(33.33% - 100px);
  position: relative;
  float: left;
  margin: 50px;
  margin-bottom: 60px;
  perspective: 800px;
  border-style: none;
  border-radius: 0px;
}

.container2{
  border-radius: 50%
}



/*About page*/
.toast{
    position: relative;
    width: 100%;
  }



/*SWITCH TO MOBILE VERSION*/
@media only screen and (max-width: 650px){
a {
font-size: 15px;
}
.thumbnail { 
  width: 100%;
  margin: 10px;
}

.thumbnail2 { 
  width: 100%;
  margin: 10px;
}
.navbar-main{
  position: fixed;
  height: 80px;
  background:black;
  top:0;
  left:0;
  width:100%;
}
.prost { 
    visibility: visible;
    top: 0px;
    position: absolute;
    z-index:1;
}
.cheers{
visibility: hidden;
top: 0px;
} 
.kanpai { 
    visibility: hidden;
    top: 0px;
}
}

@media only screen and (min-width: 650px){
.cheers{
visibility: hidden;
top: 0px;
    position: absolute;
} 
.kanpai { 
    visibility: hidden;
    top: 0px;
        position: absolute;
}
.prost { 
    visibility: visible;
    top: 0px;
    position: absolute;
    z-index:1;
}
}

@media only screen and (min-width: 1000px){
  .cheers{
    visibility: hidden;
      position: absolute;
    top: 0px;
} 
.kanpai { 
    visibility: visible;
    position: absolute;
    z-index:1;
}
.prost { 
    visibility: hidden;
    position: absolute;
    top: 0px;
}
}

    
@media only screen and (min-width: 1500px) {
.cheers{
    visibility: visible;
    top: 0px;
    position: absolute;
    z-index:1;
} 
.kanpai { 
    visibility: hidden;
        position: absolute;
    top: 0px;
}
.prost { 
    visibility: hidden;
        position: absolute;
    top: 0px;
}
}

/* recipie pop-ups*/

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  color:black ;
  font-size: 20px;
  text-align:center;
}
/*SWITCH TO MOBILE VERSION*/
@media only screen and (max-width: 650px){
a {
font-size: 15px;
}
.thumbnail { 
  width: 100%;
  margin: 10px;
}

.thumbnail2 { 
  width: 100%;
  margin: 10px;
}
.navbar-main{
  position: fixed;
  height: 80px;
  background:black;
  top:0;
  left:0;
  width:100%;
}
.prost { 
    visibility: visible;
    top: 0px;
    position: absolute;
    z-index:1;
}
.cheers{
visibility: hidden;
} 
.kanpai { 
    visibility: hidden;
}
.white_content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  color:black ;
  font-size: 20px;
  text-align:center;
}
}

@media only screen and (min-width: 650px){
.cheers{
visibility: hidden;
    position: absolute;
} 
.kanpai { 
    visibility: hidden;
        position: absolute;
}
.prost { 
    visibility: visible;
    position: absolute;
    z-index:1;
}
.white_content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  color:black ;
  font-size: 15px;
  text-align:center;
}
}


@media only screen and (min-width: 1000px){
  .cheers{
    visibility: hidden;
      position: absolute;
} 
.kanpai { 
    visibility: visible;
    position: absolute;
    z-index:1;
}
.prost { 
    visibility: hidden;
    position: absolute;
}

.white_content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  color:black ;
  font-size: 15px;
  text-align:center;
}
}

    
@media only screen and (min-width: 1500px) {
.cheers{
    visibility: visible;
    position: absolute;
    z-index:1;
} 
.kanpai { 
    visibility: hidden;
    position: absolute;
}
.prost { 
    visibility: hidden;
    position: absolute;
}
.white_content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  color:black ;
  font-size: 20px;
  text-align:center;
}
}