/*Css fo ratings*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.index-bg{
  background:black;
}
body {
  font-family: sans-serif;
}
.navbar-main{
  position: fixed;
  height: 70px;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
a {
text-decoration: none;
color: white;
font-family: 'Spectral',serif;
font-size: 25px;
}
a:visited {
  color:#EEE8AA;
}
a:hover {
  color: grey;
}
p {
  text-align: center;
}
.left {
  float: left;
  clear: left;
}
.right {
  float: right;
  clear: right;
  text-align: right;
  margin-right: 50px;
}
li {
    list-style: none;
    display: inline; 
}
li a {
padding: 5px;
}
.social-button{
  width: 22px;
  display: inline-block;
}


/* Thumbnail 3d flip */
.home-thumbnail-wrap {
display: inline-block;
vertical-align: middle;
position: relative;
padding: 0;
margin: 0;
width: 100vw;
}
.thumbnail-wrap {
  width: 100vw;
  height: auto;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
img{
  width: 100%;
  display: block;
}
.thumbnail { 
  width: calc(50% - 100px);
  position: relative;
  float: left;
  margin: 50px;
  margin-bottom: 60px;
  perspective: 800px;
  border-style: none;
  border-radius: 0px;
}
.thumbnail:hover #card {
  transform: rotateX(180deg);
}
#card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
#card figure {
  margin: 0;
  display: block;
  backface-visibility: hidden;
}
#card .back {
    transform: rotateX(180deg);
    position: absolute;
    top: 0; 
    left: 0;
}
#card.flipped {
    transform: rotateX(180deg);
}


/* pub post */
.pub-post-bg{
  background: black;
  color: white;
  text-align: center;
}
.navbar-post{
  position: fixed;
  height: 88px;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
.quote{
  font-family: 'Spectral',serif;
  font-size: 40px;
  color: white;
  text-align: center;
}
.bigger{
  font-size: 40px;
}
.subtitle{
  font-family: helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.post {
  font-size: 20px;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.4;
  letter-spacing: 1px;
}
.caption {
font-family: 'Spectral',serif;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
}
.pub-post-section {
position: relative;
padding: 0px;
width: 100vw;
}
.pub-post-title{
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}
.gradient {
  background: -webkit-linear-gradient(green, violet, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rotate-text-1 {
      -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.rotate-text-1:hover{
  display:block
    -webkit-transform: rotate(-30deg);
     -moz-transform: rotate(-30deg);
       -o-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.rotate-text-2 {
      -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.rotate-text-2:hover{
  display:block
    -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
       -o-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.drunk-img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.drunk-img:hover {
    width: 100%;
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.wasted-img {
  filter:hue-rotate(90deg);
}
.wasted-img:hover {
  filter:invert(100%);
}
img {
width: 100%;
display: block;
}


/*CSS for star ratings*/

#ratingdiv{overflow:hidden}
#ratingdiv .undone, #ratingdiv .fade{
background: url("star.gif") -30px 0 no-repeat;
width: 28px;
display: block;
height: 30px;
float: left;
margin-right: 4px;
text-indent: -99999px
}
#ratingdiv .done{
background: url("star.gif") no-repeat;
width: 28px;
display: block;
height: 30px;
float: left;
margin-right: 4px;
text-indent: -99999px
}
#ratingdiv .undone:hover{background-position:0}

/*CSS for the carousel*/ 
.bx-wrapper img {
    margin: 0 auto;
}
.container{
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}


/*CSS for the cocktail recipies*/

.img-circle {
  border-radius: 50%;
}

.cocktail {
   font-size: 20px;
  text-align: left;
  margin: 0 auto;
  line-height: 1.4;
  letter-spacing: 1px;
   font-family: helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  z-index: 8;
}

.thumbnail2 { 
  width: calc(33.33% - 100px);
  position: relative;
  float: left;
  margin: 50px;
  margin-bottom: 60px;
  perspective: 800px;
  border-style: none;
  border-radius: 0px;
}

.container2{
  border-radius: 50%
}



/*About page*/
.toast{
    position: relative;
    width: 100%;
  }



/*SWITCH TO MOBILE VERSION*/
@media only screen and (max-width: 650px){
a {
font-size: 15px;
}
.thumbnail { 
  width: 100%;
  margin: 10px;
}

.thumbnail2 { 
  width: 100%;
  margin: 10px;
}
.navbar-main{
  position: fixed;
  height: 80px;
  background:black;
  top:0;
  left:0;
  width:100%;
}
.prost { 
    visibility: visible;
    top: 0px;
    position: absolute;
    z-index:1;
}
.cheers{
visibility: hidden;
} 
.kanpai { 
    visibility: hidden;
}
}

@media only screen and (min-width: 650px){
.cheers{
visibility: hidden;
    position: absolute;
} 
.kanpai { 
    visibility: hidden;
        position: absolute;
}
.prost { 
    visibility: visible;
    position: absolute;
    z-index:1;
}
}

@media only screen and (min-width: 1000px){
  .cheers{
    visibility: hidden;
      position: absolute;
} 
.kanpai { 
    visibility: visible;
    position: absolute;
    z-index:1;
}
.prost { 
    visibility: hidden;
    position: absolute;
}
}

    
@media only screen and (min-width: 1500px) {
.cheers{
    visibility: visible;
    position: absolute;
    z-index:1;
} 
.kanpai { 
    visibility: hidden;
    position: absolute;
}
.prost { 
    visibility: hidden;
    position: absolute;
}
}


/*CSS footer*/ 

#sticky {
  width:100%;
  padding:10px;
  height:20px;
  padding-bottom:16px;
  background:rgba(0, 0, 0, .25);
  color:white;
  font-weight:bold;
  font-size:18px;
  text-align:center;
  position:fixed;    /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the body*/
  left:0;            /*and to the left of the body.*/
  
  /* footer  effect */
  transition:.33s linear;
}

#sticky:hover {
  background:black;
}